/* .carousel-indicators .active{
    background-color: #000;
} */

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
	margin-right: -50px;
}

.carousel-control-next-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
	margin-left: 50px;
}


#spinning-overlay {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.8);
}

#spinner {
  width: 6em;
  height: 6em;
  text-align: center;
  margin: auto;
}

#spinner-container {
  position: fixed;
  top: 40%;
  left: 25%;
  width: 50%;
}

.spinning-info {
  font-size: 1.1em;
  font-family: monospace;
}

/* .content {
  width: 100%;
  padding: 10em;
} */

.class-neutral {
  background-color: #64abe5;
}

.class-negative {
    background-color: #9e64e5;
}

.class-positive {
  background-color: #abe564;
}

.badge {
  margin-right: 10px;
}

.badge-legend {
  padding-left: 80px;
}

.container-fluid {
  padding: 80px;
  padding-right: 160px;
  padding-top: 0;
  padding-bottom: 0;
}

#self-attention-interaction {
  opacity: 0.3;
}

.entities {
  line-height: 1.7em !important;
}

.entity {
  padding: 4px !important;
}

#selected-segment-ents,
#toggle_ents_sim_sents,
#similar_sents_display_plain,
#search_results-wrapper,
#toggle_identical_words_sim_sents_button,
#user-classification
{
  display: none;
}

.prop-slider-range {
  z-index: 99;
}

#search-results {
  width: 95%;
  max-height: 900px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.identical-token {
  background-color: rgb(255, 255, 0);
}

.identical-token-stopword {
  background-color: rgba(255, 255, 0, 0.25);
}
