<footer>

</footer>
<!-- JQUERY.JS -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
<!-- POPPER .JS -->
<script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<!-- BOOTSTRAP.JS -->
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<!-- D3.JS -->
<script type="text/javascript" src="{{ url_for('static', filename='js/d3.v4.min.js') }}"></script>
<!-- SIMPLE SLIDER -->
<script type="text/javascript" src="{{ url_for('static', filename='js/d3.slider.min.js') }}"></script>
<!-- HELPER JS -->
<script type="text/javascript" src="{{ url_for('static', filename='js/helper.js') }}"></script>
<!-- PLOT JS -->
<script type="text/javascript" src="{{ url_for('static', filename='js/plot.js') }}" defer></script>
<!-- Custom JS -->
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
