{% extends "layout.html" %}
{% block header %}
<div class="jumbotron jumbotron-fluid bg-white text-center">
	<div class="container-fluid">
		<h1 class="display-4">FinBerVis</h1>
		<p class="lead">
			A visual exploration, comparison and pattern investigation tool for fine-tuned transformer models for (mutli-label) sequence classification tasks. <br />
			The tool is split into three components which is again split in two: one view for <code>model 1</code> and one for <code>model 2</code>.
		</p>
	</div>
</div>
{% endblock %}

{% block content %}

<div id="spinning-overlay">
	<div id="spinner-container">
		<div class="text-center">
			<div class="spinner-grow text-primary" role="status" id="spinner">
				<span class="sr-only">Loading...</span>
			</div>
			<p class="spinning-info">
				Calculating sentiment and fitting UMAP model ...
			</p>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<!-- <div class="col-1">
		</div> -->

		<!-- PLOT COL -->
		<div class="col-10">
			<h2>
				Model Exploration
				<br />
				<small class="text-muted">Projection of sentence embeddings</small>
			</h2>
			<div class="row">
				<div class="col-8">
					<div class="row">                    
						<div class="col-sm-8" style="">
							<input placeholder="Enter your own sentence" type="text" class="form-control" id="segmentInput" aria-describedby="segmentInputHelp">            
						</div>
						<div class="col-sm-4">
							<button type="button" name="addButton" id="test-rule" class="btn btn-secondary btn-fluid">Add</button>
						</div>
					</div>
				</div>
				<div class="col-4" id="resetSelectionCol">
					Current selection:<span id="patternProjectionSelection"></span>
					<button type="button" name="resetFilterButtonProjection" id="resetFilterButtonProjection" class="btn btn-secondary">Reset filter</button>
				</div>
			</div>
			<br />
			<div class="row" style="">
				<div class="row badge-legend" style="">
					<span class="badge badge-pill class-neutral">
						neutral
					</span>
					<span class="badge badge-pill class-positive">
						positive
					</span>
					<span class="badge badge-pill class-negative">
						negative
					</span>
				</div>
			</div>    
			<div class="row">
				<div class="col-5">
					<div id="projection_model_1">
						
					</div>
				</div>
				<div class="col-1" style="border-right: 1px solid #353333">
				</div>
				<div class="col-1">
				</div>
				<div class="col-5" style="background: transparent;">
					<div id="projection_model_2">
						
					</div>
				</div>      
			</div>
			<div class='row'>
				<hr />
			</div>	
			<div style=" float: left;" class="prop-slider-range">
				<!-- align-items-center -->
				<div class="row">
					<strong style="padding-left: 15px;"> Classification Certainty/Probability of data points.</strong>
					<div class="col-sm-2"><br /><p id="value-range" style="display: none;"></p></div>
					<div class="col-sm-10"><div id="slider-range"></div></div>
				</div>
			 </div>  
			
		</div>			
	</div>
</div>

<div class="float-right" id="draggable-cards">    
	<!-- SEARCH COL -->  
	<div class="draggable">
		<div class="accordion" id="accordionSearch">
			<div class="card">
				<div class="card-header" id="headingOne">
					<h2 class="mb-0">
						<i class="material-icons">drag_handle</i>
						<button class="btn btn-link text-left" type="button" data-toggle="collapse" data-target="#collapseSearch" aria-expanded="true" aria-controls="collapseSearch">
							Search segments
						</button>
					</h2>
				</div>
				
				<div id="collapseSearch" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordionSearch">
					<div class="card-body">
						<div id="search-col-content">      
							<div class="" style="padding-right: initial;">
								
								<div id="search_results-wrapper">
									
									<h2 id="search-header">All Segments</h2>
									Total segments: <span class="muted" id="total-results"></span>
									<div class="row">
										<div class="col-sm-8" style="">
											<!-- <label for="searchInput"></label> -->
											<input placeholder="Search query or ID" type="text" class="form-control" id="searchInput" aria-describedby="searchHelp">
											<small id="searchHelp" class="form-text text-muted">When searching for an ID use #123</small>
										</div>
										<div class="col-sm-4">
											<button type="button" name="searchButton" id="searchButton" class="btn btn-secondary btn-fluid">Search</button>
										</div>
									</div>
									<br /> <br />
									<div class='row'>
										<div id="search-results" class="col">
											
										</div>
									</div>
									
									
									<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
										<div class="modal-dialog modal-lg">
											<div class="modal-content md-auto mx-auto text-center" style="margin: auto; text-align: center;">
												<div id="self-attention-heatmap"></div>
											</div>
										</div>
									</div>
									
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br />
	<!-- META COL -->
	<div class="draggable">
		<div class="accordion" id="accordionMeta">
			<div class="card">
				<div class="card-header" id="headingTwo">
					<h2 class="mb-0">
						<i class="material-icons">drag_handle</i>
						<button class="btn btn-link text-left" type="button" data-toggle="collapse" data-target="#collapseMeta" aria-expanded="true" aria-controls="collapseMeta">
							Meta View
						</button>
					</h2>
				</div>
				
				<div id="collapseMeta" class="collapse hide" aria-labelledby="headingTwo" data-parent="#accordionMeta">
					<div class="card-body">
						<div id="meta-col-content">      
							<div class="">
								<h2>Meta</h2>
								<div class="card" style=" min-height: 100px;">
									<div class="card-body">
										<h5 class="card-title">Datapoint</h5>
										<h6 class="card-subtitle mb-2 text-muted">Your current selection <span id="point_id_display"></span></h6>
										<p class="card-text" id="point-data">
											Select a point to see its data here and to interact with the self-attention!
										</p>
										<hr />
										<div id="select-splits">   
											<div class="row">
												<div class="col-1">
													<div role="status" class="spinner-border text-primary mx-auto text-center" id="splits-spinner">
														<span class="sr-only">Loading...</span>
													</div>
												</div>
												<div class="col-11">
													<code style="line-height: 3em;" class="text-primary">Calculating &amp; predicting splits</code>                  
												</div>
											</div>
											<hr>        
										</div>
										<!-- ', '#64abe5', '#9e64e5 -->        
										
										<!-- user_classification_modal -->
										<div class="modal fade" id="userClassificationModal" tabindex="-1" role="dialog" aria-labelledby="userClassificationModalLabel" aria-hidden="true">
											<div class="modal-dialog" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="userClassificationModalLabel">Edit predicted sentiment</h5>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
													<div class="modal-body">
														<div id="user-classification">
															<div class="row">
																<div class="col-12">
																	<div class="form-group">
																		<label for="sentiment-classes-user-classification">Select the correct sentiment class, if wrongly classified.</label>
																		<select class="form-control" id="sentiment-classes-user-classification">
																			<option value="positive">Positive</option>
																			<option value="neutral">Neutral</option>
																			<option value="negative">Negative</option>
																		</select>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="modal-footer">
														<!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
														<button type="button" id="confirm-user-classification-sentiment" name="confirm-user-classification-sentiment" class="btn btn-outline-primary" data-dismiss="modal">Confirm</button>
													</div>
												</div>
											</div>
										</div>
										
										<div class="buttons-row">
											<div class="row">
												<div class="col-6">
													<button type="button" class="btn btn-outline-primary btn-block" name="show-similar" id="show-similar" title="sentences are calculated using the cosine distance meassure for CLS-embeddings of the 11th layer">
														Show similar sentences 
														<div class="spinner-border text-secondary text-center" role="status" id="sim-sent-spinner">
															<span class="sr-only">Loading...</span>
														</div>
													</button>
												</div>
												
												<div class="col-6 self-attention-collapse">
													<button class="btn btn-outline-primary btn-block" id="self-attention-collapse-btn" type="button" data-toggle="collapse" data-target="#collapseSelfAttention" aria-expanded="false" aria-controls="collapseSelfAttention">
														Detail self-attention
													</button>
												</div>
											</div>                    
											
											
										</div>
										
										<div class="collapse" id="collapseSelfAttention">
											<br />
											<div id="self-attention-interaction">
												
												<div class="row">
													<div class="col-6">
														<label for="segment-attention">Show an self-attention heatmap for the selected datapoint</label>
													</div>
													<div class="col-6">
														<div class="row">
															<div class="col-6">
																<input class="form-control" type="number" min="1" max="12" id="layer_input" name="layer_input" value="1" aria-describedby="layer_input_help"/>
																<small id="layer_input_help" class="form-text text-muted">Layer (1-12)</small>
															</div>
															<div class="col-6">
																<input class="form-control" type="number" min="1" max="12" id="head_input" name="head_input" value="1" aria-describedby="head_input_help"/>
																<small id="head_input_help" class="form-text text-muted">Head (1-12)</small>
															</div>
														</div>
														<br />
														<button type="button" data-toggle="modal" data-target=".bd-example-modal-lg" class="btn btn-fluid btn-warning" id="segment-attention" name="segment-attention">Show Self-Attention</button> <br />
													</div>
												</div>
												<br />
												<!-- <div class="row">
													<div class="col-6">
														<label for="explore-neighbours">Show self-attention heatmaps datapoints near the selected</label>
													</div>
													<div class="col-6">
														<div class="row">
															<div class="col-6">
																<input class="form-control" type="number" min="1" max="12" id="layer_input_neighbours" name="layer_input_neighbours" value="1" aria-describedby="layer_input_neighbours_help"/>
																<small id="layer_input_neighbours_help" class="form-text text-muted">Layer (1-12)</small>
															</div>                    
														</div>
														<br />
														<a class="btn btn-warning" href="#explore-neighbours" id="explore-neighbours" name="explore-neighbours">Neighbourhood Self-Attention</a>
													</div>
												</div> -->
												
											</div>
											
										</div>
										
										<div id="show-simmilar">          
											<br />
											<a href="#show-simmilar" id="toggle_ents_sim_sents">Toggle Entities |</a>
											<a href="#toggle-identical-words" id="toggle_identical_words_sim_sents_button">Toggle identical words |</a>
											<a href="#toggle-mean-attention" id="toggle_mean_attention">Toggle attention | </a> 
											<a href="#toggle-gradients" id="toggle_gradients">Toggle Integrates gradients</a>
											<br />
											<hr />
											<div id="similar-sents-display">
												
											</div>
											<div id="similar-sents-ents-display">
												
											</div>            
										</div>
										
										<!-- <hr /> -->
										
									</div>
									
								</div>
							</div>
							<br />
							<div class="row rules">
								<br />
							</div>
						</div>
					</div>
				</div>
			</div>
			<br />
		</div>
	</div>     
</div>
<!-- 
<div class="break-div md-auto mx-auto w-100 row">
</div> 
-->
<div class="container-fluid">
	<h2>
		Pattern Investigation
		<br />
		<small class="text-muted">Investigate and explore one-hot pos-tag vectors and their cluster</small>
	</h2>
	
<div class="container" id="filters" style="height: min-content !important;">  
	<!-- Filter Sentiments -->
	<div class="row">      
		<!-- <div class="col-2">
			<input type="checkbox" id="positiveSentimentCheckbox" checked="checked"> positive </input>
			<input type="checkbox" id="neutralSentimentCheckbox" checked="checked"> neutral </input>
			<input type="checkbox" id="negativeSentimentCheckbox" checked="checked"> negative </input>    
		</div> -->
		<div class="col-12">
			<div class="form-inline">        
				<div class="col-sm-3">
					<div class="form-group">
						<label for="saliencyThreshold">Saliency threshold</label>
						<input type="number" class="form-control" id="saliencyThreshold" max="1" min="-1" aria-describedby="saliencyHelp" step="0.05" value="0.3">
						<small id="saliencyHelp" class="form-text text-muted">A score > 0 indicates importance for the predicted label</small>  
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label for="min_samples_input">Min. amount of elements</label>
						<input type="number" class="form-control" id="min_samples_input" aria-describedby="min_samples_input_help" min="1" step="1" value="2">
						<small id="min_samples_input_help" class="form-text text-muted">Current value is <script>document.write(localStorage.getItem("min_samples"))</script></small>  
					</div>
				</div>        
				<div class="col-sm-3">
					<div class="form-group">
						<label for="epsilonInput">Specify Epsilon</label>
						<input type="number" class="form-control" id="epsilonInput" aria-describedby="epsilonHelp" min="0.0001" step="0.05" value="0.9">
						<small id="epsilonHelp" class="form-text text-muted">Epsilon is best between 0.2 and 2.2</small>  
					</div>
				</div>
				<div class="col-sm-2">
					<div class="form-group">
						<button type="button" class="btn btn-primary" id="cluster_button">Cluster</button>    
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-6 form-group">
		<label for="matrixSort">Sort Matrix by</label>
		<select class="form-control" id="matrixSort">
			<option value="none">-</option>
			<option value="cluster">Cluster</option>
			<option value="count">Count</option>
			<!-- <option value="cluster">Cluster</option>
			<option value="cluster">Cluster</option>
			<option value="cluster">Cluster</option> -->
		</select>
	</div>
		
	</div>
</div>

</div>

<div class="row">  
	<div class="col-4">
		<div id="matrix_vis_1"></div>
	</div>
	<div class="col-2">
		<h3>
			Statistics <br />
			<small class="text-muted" style="font-size: 0.56em;">For the all sentences where a pattern could be found</small>
		</h3>
		<div id="distribution_plot_1"></div>
		<p class="text-muted"><small id="pred-sent-distr-abs-1">Distribution of predicted sentiments for all patterns</small></p>
		<table class="table">
				<thead>
						<th> No. of clusters </th>
						<th> Sentences with patterns </th>
						<th> Sentences <strong>without</strong> patterns </th>
						<th> Wrongly predicted </th>
				</thead>
				<tbody>
						<tr id="stats-table-row-model-1">
						</tr>
				</tbody>
		</table>
	</div>
	<div class="col-4 float-right">
		<div id="matrix_vis_2"></div>
	</div>
	<div class="col-2">
		<h3>
			Statistics <br />
			<small class="text-muted" style="font-size: 0.56em;">For the all sentences where a pattern could be found</small>
		</h3>
		<div id="distribution_plot_2"></div>
		<p class="text-muted"><small id="pred-sent-distr-abs-2">Distribution of predicted sentiments for all patterns</small></p>
		<table class="table">
				<thead>
						<th> No. of clusters </th>
						<th> Sentences with patterns </th>
						<th> Sentences <strong>without</strong> patterns </th>
						<th> Wrongly predicted </th>
				</thead>
				<tbody>
						<tr id="stats-table-row-model-2">
						</tr>
				</tbody>
		</table>
	</div>  
</div>

<div class="container-fluid" id="model-comparison">
	<div class="row">
		<div class="col-4">
			<h2>
				Model Comparison
				<br />
				<small class="text-muted">Pixel-based model Comparison via saliency scores</small>    
			</h2>
			<h4><small>Red colored rows indicate a different truth label.</small></h4>
			<h4><small id="sentence-select-info-matrix"></small></h4>          
		</div>
		<div class="col-4">
			<h3>
				Statistics 
				<!-- <br /> -->
				<!-- <small class="text-muted" style="font-size: 0.56em;">For the all sentences where a pattern could be found</small> -->
			</h3>
			<div id="distribution_plot_pixel_vis"></div>
			<p class="text-muted"><small id="pred-sent-distr-abs-pixel-vis">Distribution of predicted sentiments for all patterns</small></p>      
		</div>
		<div class="col-4">
			<table class="table">
					<thead>
							<th> No. of clusters </th>
							<th> Sentences with patterns </th>
							<th> Sentences <strong>without</strong> patterns </th>
							<th> Wrongly predicted </th>
					</thead>
					<tbody>
							<tr id="stats-table-row-pixel-vis">
							</tr>
					</tbody>
			</table>
		</div>
	</div>
	<div class="row">  
		<div class="col-4">
			<div id="pixelVis1"></div>
		</div>
		<div class="col-4">
			<div id="pixel-sentence-view">
				
			</div>  
		</div>
		<div class="col-4 float-right">
			<div id="pixelVis2"></div>
		</div>  
	</div>  
</div>

<div aria-live="polite" aria-atomic="true" style="position: fixed; top: 10px; right: 10px;" id="toast-modal">
	<div class="toast" style="position: relative; z-index: 99;">
		<div class="toast-header">
			<i class="material-icons text-primary">info-outline</i>
			<strong class="mr-auto">Information</strong>
			<small></small>
			<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>      
		<div class="toast-body" id="toast-msg">
			Hello, world! This is a toast message.
		</div>
	</div>
</div>  
{% endblock %}
