{% extends "layout.html" %}
{% block header %}
<div class="jumbotron jumbotron-fluid bg-white text-center">
  <div class="container-fluid">
    <h1 class="display-4">A good title</h1>
    <p class="lead">A visual debugging tool for fine-tuned transformer models for (mutli-label) sequence classification tasks</p>
  </div>
</div>
{% endblock %}

{% block content %}

<div id="spinning-overlay">
  <div id="spinner-container">
    <div class="text-center">
      <div class="spinner-grow text-primary" role="status" id="spinner">
        <span class="sr-only">Loading...</span>
      </div>
      <p class="spinning-info">
        Calculating sentiment and fitting UMAP model ...
      </p>
    </div>
  </div>
</div>
<div class="row">

  <!-- SEARCH COL -->
  <div class="col-md-3" style="padding-right: 4em;">

    <div id="search_results-wrapper">

      <h2>Search Results</h2>
      Total results: <span class="muted" id="total-results"></span>
      <br /> <br />
      <div class='row'>
        <div id="search-results" class="col">

        </div>
      </div>


      <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content md-auto mx-auto text-center" style="margin: auto; text-align: center;">
            <div id="self-attention-heatmap"></div>
          </div>
        </div>
      </div>

    </div>

  </div>

  <!-- PLOT COL -->
	<div class="col-md-5" style="padding-left: 6em;">
    <h2 style="">Projection of sentence embeddings</h2>
    <div class="row">
      <div class="col-sm-8" style="">
        <!-- <label for="searchInput"></label> -->
        <input placeholder="Search query or ID" type="text" class="form-control" id="searchInput" aria-describedby="searchHelp">
        <small id="searchHelp" class="form-text text-muted">When searching for an ID use #123</small>
      </div>
      <div class="col-sm-4">
        <button type="button" name="searchButton" id="searchButton" class="btn btn-secondary btn-fluid">Search</button>
      </div>
    </div>
    <br />
    <div class="row" style="">
      <div class="row badge-legend" style="">
        <span class="badge badge-pill class-neutral">
          neutral
        </span>
        <span class="badge badge-pill class-positive">
          positive
        </span>
        <span class="badge badge-pill class-negative">
          negative
        </span>
      </div>
      <div id="plot"></div>
      <div class='row'>
        <hr />
      </div>
    </div>
    <div style=" float: left;" class="prop-slider-range">
      <!-- align-items-center -->
      <div class="row">
        <strong style="padding-left: 15px;"> Classification Certainty/Probability of data points.</strong>
        <div class="col-sm-2"><br /><p id="value-range" style="display: none;"></p></div>
        <div class="col-sm-10"><div id="slider-range"></div></div>
      </div>
      <!-- <input type="range" class="custom-range form-control" min="0" max="1" step="0.000005" value="0" class="slider" id="prop-slider" style="width: 100%; ">
      <p style="width: 20%; float: left; ;"><span id="prop-slider-output"></span></p> -->
    </div>
	</div>

  <!-- META COL -->
	<div class="col-md-4">
    <h2>Meta</h2>
    <div class="card" style=" min-height: 100px;">
      <div class="card-body">
        <h5 class="card-title">Datapoint</h5>
        <h6 class="card-subtitle mb-2 text-muted">Your current selection <span id="point_id_display"></span></h6>
        <p class="card-text" id="point-data">
          Select a point to see its data here and to interact with the self-attention!
        </p>
        <hr />
        <!-- ', '#64abe5', '#9e64e5 -->
        <div id="user-classification">
          <div class="row">
            <div class="col-8">
              <div class="form-group">
                <label for="sentiment-classes-user-classification">Select the correct sentiment class, if wrongly classified.</label>
                <select class="form-control" id="sentiment-classes-user-classification">
                  <option value="positive">Positive</option>
                  <option value="neutral">Neutral</option>
                  <option value="negative">Negative</option>
                </select>
              </div>
            </div>
            <div class="col-4">
              <a href="#confirm-user-classification-sentiment" id="confirm-user-classification-sentiment" name="confirm-user-classification-sentiment" class="btn btn-outline-primary">Confirm</a>
            </div>
          </div>
        </div>
        <hr />
        <div id="self-attention-interaction">

          <div class="row">
            <div class="col-6">
              <label for="segment-attention">Show an self-attention heatmap for the selected datapoint</label>
            </div>
            <div class="col-6">
              <div class="row">
                <div class="col-6">
                  <input class="form-control" type="number" min="1" max="12" id="layer_input" name="layer_input" value="1" aria-describedby="layer_input_help"/>
                  <small id="layer_input_help" class="form-text text-muted">Layer (1-12)</small>
                </div>
                <div class="col-6">
                  <input class="form-control" type="number" min="1" max="12" id="head_input" name="head_input" value="1" aria-describedby="head_input_help"/>
                  <small id="head_input_help" class="form-text text-muted">Head (1-12)</small>
                </div>
              </div>
              <br />
              <button type="button" data-toggle="modal" data-target=".bd-example-modal-lg" class="btn btn-fluid btn-warning" id="segment-attention" name="segment-attention">Show Self-Attention</button> <br />
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-6">
              <label for="explore-neighbours">Show self-attention heatmaps datapoints near the selected</label>
            </div>
            <div class="col-6">
              <div class="row">
                <div class="col-6">
                  <input class="form-control" type="number" min="1" max="12" id="layer_input_neighbours" name="layer_input_neighbours" value="1" aria-describedby="layer_input_neighbours_help"/>
                  <small id="layer_input_neighbours_help" class="form-text text-muted">Layer (1-12)</small>
                </div>
                <div class="col-6">
                  <input class="form-control" type="number" min="1" max="12" id="head_input_neighbours" name="head_input_neighbours" value="1" aria-describedby="head_input_neighbours_help"/>
                  <small id="head_input_neighbours_help" class="form-text text-muted">Head (1-12)</small>
                </div>
              </div>
              <br />
              <a class="btn btn-warning" href="#explore-neighbours" id="explore-neighbours" name="explore-neighbours">Neighbourhood Self-Attention</a>
            </div>
          </div>

        </div>
        <hr />

        <div id="show-simmilar">
          <button type="button" class="btn btn-primary" name="show-similar" id="show-similar">Show similar sentences</button>
          <br /><br />
          <a href="#show-simmilar" id="toggle_ents_sim_sents">Toggle Entities</a>
          <a href="#toggle-identical-words" id="toggle_identical_words_sim_sents_button">Toggle identical words</a>
          <div id="similar-sents-display">

          </div>
          <div id="similar_sents_display_plain">

          </div>
        </div>
      </div>
    </div>
    <br />

    <div class="row rules">

      <br />
      <div class="col-md-6 col-sm-12">

        <div class="card" style="">
          <div class="card-body">
            <h5 class="card-title">Split-Rule</h5>
            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
            <p class="card-text">
              <label>
                <!-- for="split-rule"> -->
                Split the sentence in sub-sentences and plot the embeddings of each sentence
              </label>
              <button id="split-rule" name="split-rule" type="button" class="btn btn-outline-primary btn-block">Split</button>
            </p>
          </div>
        </div>
      </div>

  		<!-- <br /> -->

      <div class="col-md-6 col-sm-12">
    		<div class="card">
    		  <div class="card-body">
    		    <h5 class="card-title">Test-Rule</h5>
    		    <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
    		    <p class="card-text">
    					<label>
    						 Enter your own sentence, plot it and get the predicted sentiment.
    					</label>
    					<textarea class="form-control" maxlength="150" id="test-rule-segment" name="test-rule-segment" rows="3"/></textarea> <br />
    					<button id="test-rule" name="test-rule" type="button" class="btn btn-outline-primary btn-block">Go</button>
    				</p>
    		  </div>
    		</div>
      </div>

    </div>

		<br />
	</div>

</div>
{% endblock %}
